PronoSpritzApi/packages/
PronoSpritzApi/PronoSpritzApi/obj/
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Helpers.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Net.Http.Formatting.xml
PronoSpritzApi/PronoSpritzApi/bin/System.Net.Http.Formatting.dll
PronoSpritzApi/PronoSpritzApi/bin/PronoSpritzApi.pdb
PronoSpritzApi/PronoSpritzApi/bin/PronoSpritzApi.dll.config
PronoSpritzApi/PronoSpritzApi/bin/PronoSpritzApi.dll
PronoSpritzApi/PronoSpritzApi/bin/Owin.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.Google.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.Facebook.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.Facebook.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.Cookies.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.Cookies.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Host.SystemWeb.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AI.ServerTelemetryChannel.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AI.ServerTelemetryChannel.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AI.PerfCounterCollector.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AI.DependencyCollector.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AI.DependencyCollector.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AI.Agent.Intercept.dll
PronoSpritzApi/PronoSpritzApi/bin/EntityFramework.xml
PronoSpritzApi/PronoSpritzApi/bin/System.Web.WebPages.Deployment.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Razor.xml
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Razor.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Optimization.xml
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Optimization.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Mvc.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.Twitter.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.Twitter.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.OAuth.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.OAuth.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AspNet.Identity.Core.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.ApplicationInsights.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.ApplicationInsights.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AI.WindowsServer.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AI.WindowsServer.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AI.Web.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AI.Web.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Http.xml
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Http.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Http.WebHost.xml
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Http.WebHost.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Http.Owin.xml
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Http.Owin.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Helpers.xml
PronoSpritzApi/PronoSpritzApi/bin/Newtonsoft.Json.xml
PronoSpritzApi/PronoSpritzApi/bin/Newtonsoft.Json.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Web.Infrastructure.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AspNet.Identity.Owin.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AspNet.Identity.Owin.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AspNet.Identity.EntityFramework.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AspNet.Identity.EntityFramework.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.AspNet.Identity.Core.xml
PronoSpritzApi/PronoSpritzApi/bin/WebGrease.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Web.WebPages.xml
PronoSpritzApi/PronoSpritzApi/bin/System.Web.WebPages.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Web.WebPages.Razor.xml
PronoSpritzApi/PronoSpritzApi/bin/System.Web.WebPages.Razor.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Security.Google.xml
PronoSpritzApi/PronoSpritzApi/bin/Microsoft.Owin.Host.SystemWeb.dll
PronoSpritzApi/PronoSpritzApi/bin/EntityFramework.dll
PronoSpritzApi/PronoSpritzApi/bin/EntityFramework.SqlServer.xml
PronoSpritzApi/PronoSpritzApi/bin/EntityFramework.SqlServer.dll
PronoSpritzApi/PronoSpritzApi/bin/ApplicationInsights.config
PronoSpritzApi/PronoSpritzApi/bin/Antlr3.Runtime.pdb
PronoSpritzApi/PronoSpritzApi/bin/Antlr3.Runtime.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Web.Mvc.dll
PronoSpritzApi/PronoSpritzApi/bin/System.Web.WebPages.Deployment.xml
PronoSpritzApi/ConsoleApplication/bin/
PronoSpritzApi/ConsoleApplication/obj/
PronoSpritzApi/DataAccessLayer/bin/
PronoSpritzApi/DataAccessLayer/obj/
PronoSpritzApi/FootballApiProxy/bin/
PronoSpritzApi/FootballApiProxy/obj/
