.competition-wrapper {
  display: grid;
  
  .competition-name {
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding: 16px 0;
    color: #0066cc;
  }

  .competition-container-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 20px;
    border-radius: 8px;
  }
}

.competition-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 2fr;
  background: white;
  margin-top: 16px;
  width: 100%;
}

.match-divider {
  align-self: center;
  justify-self: center;
  font-size: 24px;
  text-align: center;
}

.competition-time-info {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  background: white;
  border-top: 1px solid #dadada;
  width: 100%;
  padding-top: 8px;
    padding-bottom: 8px;
}

.bet-button {
  display: grid;
  justify-items: center;
  margin-bottom: 16px;
}

.match-day-name {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 32px;
}

.match-date {
  font-size: 18px;
}