<div class="competition-wrapper">
    <h3 class="competition-name">
      {{ competitionName }}
    </h3>
  
  
    <div class="competition-main-container">
  
      <h3 class="match-day-name">
        Etapa 1
      </h3>
  
    <div class="competition-container-wrapper mat-elevation-z3">
      <div class="competition-container">
        <app-team [match]="match">
        </app-team>
        <div class="match-divider">
          VS
        </div>
        <app-team [match]="match">
        </app-team>
      </div>
      <div class="competition-time-info">
        <p *ngIf="!match.status">
          Time left: 2h 53m or Live
        </p>
        <p *ngIf="match.status">
          Live
        </p>
      </div>
      <div class="bet-button">
        <button mat-raised-button color="primary">SUBMIT</button>
      </div>
    </div>
  
    </div>
  
  
  </div>