<div class="authenticate">
    <form [formGroup]="loginForm" onsubmit="">
        <mat-form-field>
            <input matInput placeholder="Username" [control]="username">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"  [control]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-button>Login</button>
        <a mat-button routerLink="/register">Register</a>
    </form>
</div>