<div class="dashboard">
    <div>
        <div class="small-column">
            <div class="box-fancy">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>My Bets</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            next 5 bets
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>See all bets</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="big-column">
            <div class="box-fancy">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Live Match</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            see live match score
                        </p>
                    </mat-card-content>
                    <mat-card-actions>

                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div>
        <div class="big-column">
            <div class="box-fancy">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Leaderboard</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            see top leaderboard
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>See all leaderboard</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="small-column">
            <div class="box-fancy">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>My Score</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            your score
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>